<section>
    <h2>Agregar Producto</h2>
    <form action="/productos" method="post">
        <input type="text" name="title" placeholder="Ingresar nombre..." required>
        <input type="number" name="price" placeholder="Ingresar precio" required>
        <input type="hidden" name="thumbnail" value="https://coder-conf.com/_nuxt/img/astronauta.84dff61.png">
        <button>Enviar</button>
    </form>
</section>