
<section>
    <h2>Listado Productos</h2>
{{#if productos}}
    
        {{#each productos}}
        <div class="producto">
            <div class="producto__content">
                <h3>{{this.title}}</h3>
                <span>Precio: {{this.price}}</span>
            </div>
            <img class="producto__img" src={{this.thumbnail}} alt="Imagen de producto">
        </div>
        {{/each}}

    {{else}}
    <p>No hay registros de productos</p>
{{/if}}
</section>

